.friend {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #fff;
	box-shadow: 4px 4px 8px 0px rgba(35, 143, 227, 0.2);
}
.friend:not(:last-child) {
	margin-bottom: 10px;
}
.avatar {
	width: 80px;
}
.name {
	font-size: 20px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
}
.statusGreen {
	display: block;
	width: 25px;
	height: 25px;
	background-color: green;
	border-radius: 50%;
}

.statusRed {
	display: block;
	width: 25px;
	height: 25px;
	background-color: red;
	border-radius: 50%;
}
